quality-testing/score_official
quality-testing/data/*
!quality-testing/data/README.md
!quality-testing/data/qwen38-flash-alibaba-100/
!quality-testing/data/qwen38-flash-alibaba-100/**
!quality-testing/data/qwen38-flash-alibaba-long/
!quality-testing/data/qwen38-flash-alibaba-long/**
